<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Css/menu.css">
	<link rel="stylesheet" type="text/css" href="../Css/baoCao.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
</head>
<body>
	<div class="row logo">
		<div class="col-2 logo-1">
			<div><img src="../Image/logo.png" alt="logo"></div>
			<div><button class="index-btn" onclick="window.location='danhMuc'" id="danhmuc">Danh mục</button></div>
			<div><button class="index-btn" onclick="window.location='lichSu'">Lịch sử thao tác</button></div>
			<div><button class="index-btn" onclick="window.location='baoCao'">Báo cáo</button></div>
		</div>
		<div class="col-10 body-content">
			<div class="header">
				<span class="col-2"><i class="fas fa-user"></i>Xin chào, <%=todo.username%></span>
				<span class="col-1"><button class="btn btn-danger" id="logout"><i class="fa fa-sign-in-alt"></i></button></span>
			</div>
			<br>
			<div class="container">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#baoCao_modal">
						Báo cáo
					  </button>
					<!-- <button type="submit" class="btn btn-success" id="exportExcel" >
						In Phiếu
					  </button> -->
					  <form action="/baoCao/export" method="POST">
           					 <button class="btn btn-success" type="submit">Export To Excel</button>
            			</form>
			</div>
			<br>
			<table class="table table-bordered table-hover">
			  	<thead>
			    	<tr>
			      		<th scope="col">Tên vật tư</th>
			      		<th scope="col">Thương hiệu</th>
			      		<th scope="col">Phân loại</th>
			      		<th scope="col">Serial</th>
			      		<th scope="col">Số lượng</th>
			      		<th scope="col">ĐVT</th>
			      		<th scope="col">Ghi chú</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	
			  	</tbody>
			</table>
		</div>
	</div>
	<!-- Modal In phiếu lịch sử thao tác-->
<div class="modal fade " id="baoCao_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body"> 
				<label>Từ ngày : </label><input type="text" name="startTime" id="startTime" maxlength="10" placeholder="VD: 1-2-2020">
				<label>Đến ngày : </label><input type="text" name="finishTime" id="finishTime" maxlength="10" placeholder="VD: 3-2-2020">
				<label>Tác vụ : </label><select name="action" id="action">
					<option value="Nhập kho">Nhập kho</option>
					<option value="Xuất kho">Xuất kho</option>
					<option value="Xoá">Xóa</option>
					<option value="Cập nhật">Cập nhật</option>
				</select>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Hủy</button>
			  <button type="button" class="btn btn-primary" id="baoCao_confirm">Xác nhận</button>
			</div>
		  </div>
	  <!-- <div class="modal-content print_body">
		<button type="button" class="btn btn-danger" id="print" data-dismiss="modal">Xác nhận</button>
	  </div> -->
	</div>
	
	
  </div>
  </div>
	<script src="../Js/vendor/jquery-3.4.1.min.js"></script>
	<script src="../Js/vendor/all.min.js"></script>
	<script src="../Js/vendor/bootstrap.min.js"></script>
	<script src="../Js/Ajax/baoCao_ajax.js"></script>
</body>
</html>