<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
		integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="../publics/Css/dangNhap.css">
</head>
<body>
	<div class="img"><img src="../publics/Image/sign-in.jpg"></div>
	<div class="container">
		<h2>Login</h2>
		<div><input type="text" placeholder="User"></div>
		<div><input type="password" placeholder="Password"></div>
		<div><button>Sign in</button></div>
	</div>
</body>
</html>