<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
		integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="../Css/dangNhap.css">
</head>
<body>
	<div class="img"><img src="../Image/sign-in.jpg"></div>
	<div class="container">
		<h2>Login</h2>
		<div><input type="text" placeholder="User" id="username"></div>
		<div><input type="password" placeholder="Password" id="password"></div>
		<div><button id="login">Sign in</button></div>
	</div>
	<script src="../Js/vendor/jquery-3.4.1.min.js"></script>
	<script src="../Js/Ajax/dangNhap_ajax.js"></script>
</body>
</html>