.content{
	margin:15px 0;
}
.group{
	border: 1px solid black;
	display: none;
}
.bold{
	font-weight: bold;
}
.bcontent{
	font-size: 26px;
	text-align: center;
	margin: 20px 0 -20px 0;
}
.scontent{
	margin: 20px 0;
	font-size: 14px;
	text-align: center;
}
.scontent2{
	margin: 20px 0;
	font-size: 14px;
}
.kiTen{
	position: relative;
	left: 75%;
	top: 110%;
	padding-bottom: 80px;
}